.git
.git/**
.gitignore
.env
.env.*
!.env.example
**/.git
**/.git/**
**/node_modules
**/node_modules/**
**/dist
**/dist/**
**/build
**/build/**
**/*.sqlite
**/*.sqlite3
**/*.db
**/*.db-wal
**/*.db-shm
**/logs
**/logs/**
**/*.log
**/uploads
**/uploads/**
**/.cache
**/.cache/**
**/.vite
**/.vite/**
